* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

/* Cabeçalho */
header {
    background-color: #674DC3;
    display: flex;
    margin: 40px 0;
    padding: 20px;
    justify-content: center;
    
}

header h1{
    font-weight: bold;
    margin-right: 10px;
    color: #FBFAFF;
}

header img { 
    height: 36px;
}

/* Formulario */
form {
    width: 100%;
    border: 2px solid #674DC3;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

form input {
    font-size: 20px;
    background-color: #FBFAFF;
    border: none;
    padding: 8px;
}

form button {
    background-color: #674DC3;
    color: #FBFAFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

/* Tabela de contatos */
table {
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    border: 2px solid #674DC3;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    
}

table td {
    padding: 16px;
    text-align: center;
    border: 2px dashed rgba(0, 0, 0, 0.1);
    border-top: 0;
}